{% extends "base.html" %}

{% block title %}Bitfluence - Change Email Address{% endblock %}

{% block content %}
<div>
    <h1>Change Your Email Address</h1>
</div>
<div>
<form action="" method="post" name="change-email">
	{{form.hidden_tag()}}
	<p>New Email</p>
    {{ form.email }}
    <p>Confirm - Enter Password</p>
    {{ form.password }}
    <p><input type="submit" value="Change Email"></p>
</form>
</div>
{% endblock %}