{% extends "base.html" %}

{% block title %}Bitfluence - Change Password{% endblock %}

{% block content %}
<div>
    <h1>Change Your Password</h1>
</div>
<div>
<form action="" method="post" name="change-password">
	{{form.hidden_tag()}}
	<p>Current Password</p>
    {{ form.old_password }}
    <p>New Password</p>
    {{ form.password }}
    <p>Repeat New Password</p>
    {{ form.password2 }}
    <p><input type="submit" value="Change Password"></p>
</form>
</div>
{% endblock %}