{% extends "base.html" %}

{% block content %}

<h1>Sign In</h1>
<!--
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>{{form.email}}</p>
    <p>{{form.password}}</p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
-->
<p>You can also: <a href="{{ url_for('auth.login_twitter') }}">sign in with Twitter.</a></p>

{% endblock %}