{% extends "base.html" %}
{% block content %}
<div>
	<p>Registration Page</p>
</div>
<div>
	<form action="" method="post" name="register">
    {{form.hidden_tag()}}
    <p>{{form.email}}</p>
    <p>{{form.username}}</p>
    <p>{{form.password}}</p>
    
    <p><input type="submit" value="Sign In"></p>
	</form>
</div>
{% endblock %}