{% extends "base.html" %}
{% block content %}
<div>
	<p>What is your email?</p>
</div>
<div>
	<form action="" method="post" name="register-email">
    {{form.hidden_tag()}}
    <p>{{form.email}}</p>
    
    <p><input type="submit" value="Complete Registration"></p>
	</form>
</div>
{% endblock %}