{% extends "base.html" %}


{% block title %}Bitfluence - Password Reset{% endblock %}

{% block content %}
<div>
    <h1>Reset Your Password</h1>
</div>
<div>
<form action="" method="post" name="reset">
	{{form.hidden_tag()}}
    {{ form.email }}
    <p><input type="submit" value="Send Reset Password Email"></p>
</form>
</div>
{% endblock %}