{% extends "base.html" %}


{% block title %}Bitfluence - Password Reset{% endblock %}

{% block content %}
<div>
    <h1>Reset Your Password</h1>
</div>
<div>
<form action="" method="post" name="filler">
	{{form.hidden_tag()}}
	<p>email</p>
    {{ form.email }}
    <p>password</p>
    {{ form.password }}
    <p>enter password again</p>
    {{ form.password2 }}
    <p><input type="submit" value="Reset Password"></p>
</form>
</div>
{% endblock %}