{% extends "base.html" %}
{% block content %}
<div>
	<h2>Thanks for Logging In</h2>
	<p>One last step. Please provide your email</p>
<form action="" method="post" name="login-twitter">
    {{form.hidden_tag()}}
    <p>{{form.email}}</p>
    <p><input type="submit" value="Send Confirmation Email"></p>
</form>
</div>
{% endblock %}