html,
body {
  height: 100%;
  width: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -125px;
  /* Pad bottom by footer height */
  padding: 70px 0 125px;
}

.footer {
  background-color: #ffffff;
  color: #555;
  border-bottom: #fff;
  border-radius:0;
  height: 105px;
}

.footer .row {
    margin:0;
}

.footer a {
    color: #555;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}


.navbar .divider-vertical {
height: 50px;
margin: 0 4px;
border-right: 1px solid #ffffff;
border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}



.payment_receive {
    background: #333;
/*    background: linear-gradient(#f6f6f6, #f6f6f6, #ddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
*/
    border-radius: 10px;
    border-color: #fff;
    /*border-bottom-color:#0D0E19;
    border-right-color:#0D0E19;*/
    border-width: 1px;
    border-style: solid;
    color: #ddd;
    margin: 0;
    padding: 5px 30px;
    position: relative;
    margin-bottom:55px;
}

.payment_receive:hover {
 background: #111;
}

.payment_receive .person {
    font-size: 16px;
    font-style: italic;
    margin-left: 47px;
    margin-top: 15px;
    position: absolute;
}

.payment_receive .amount {
    color: #999999;
    font-weight: 400;
    line-height: 1;
    font-size:74%;
    color:#ddd;
}

.payment_receive:after {
    border-color: rgba(0, 0, 0, 0) #333;
    border-style: solid;
    border-width: 0 20px 40px 0;
    bottom: -40px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

.payment_sent {
 /*   background: linear-gradient(#f6f6f6, #f6f6f6, #f6f6f6, #f6f6f6, #f6f6f6, #f6f6f6, #D02022) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/* background: linear-gradient(#ddd, #ddd, #f6f6f6) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
 background: #ddd;
    border-radius: 10px;
    /*border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    border-color: #eee;
   /* border-bottom-color:#D02022;
    border-left-color:#D02022;*/
    border-width: 1px;
    border-style: solid;
    color: #333;
    margin: 0;
    padding: 5px 30px;
    position: relative;
    margin-bottom:55px;
}
.payment_sent:hover {
 background: #bbb;
}

.payment_sent .person {
    /*color: #9DA092;*/
    font-size: 16px;
    font-style: italic;
    margin-left: -251px;
    margin-top: 15px;
    position: absolute;
    text-align: right;
    width: 200px;
}

.payment_sent .amount {
    color: #999999;
    font-weight: 400;
    line-height: 1;
    font-size:74%;
    color:#000;
}

.payment_sent:after {
    border-color: rgba(0, 0, 0, 0) #ddd;
    border-style: solid;
    border-width: 0 0 40px 20px;
    bottom: -40px;
    content: "";
    display: block;
    left: auto;
    right:50px;
    position: absolute;
    width: 0;
}
