{% extends "base.html" %}

{% block title %}Access denied{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row"><div class="col-xs-12 col-xm-6 col-xm-offset-3 col-md-6 col-md-offset-3">
    	<img src="/static/bitfluence_logo.png" class="img-circle center-block" />
    	<h1 class="text-center" style="margin-bottom:5px;">Sorry, you do not have authorization to view that page.</h1>
    </div></div>
</div>
{% endblock %}
