{% extends "base.html" %}

{% block title %}About - {% endblock %}

{% block content %}
<div class="container" style="padding-bottom: 20px;">
    <h2 class="text-center page-header" style="margin-top:10px;">About</h2>
    <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
   	<h2> The Mission </h2>
    <p>  Our mission is simple: <em> <strong> make Bitcoin user-friendly. </strong> </em></p>

    <p> Right now Bitcoin is like an orange. Delicious no doubt, but a lot of work. And messy. And sometimes a painful squirt in your eye. Why can't Bitcoin be as user-friendly as a banana? <em> That's right, as a banana. Or pre-sliced oranges...mmmm. </em> We think it can. </p>

    <p> We take care of the things humans should not have to worry about: </p>

    <ul>
      <li> Bitcoin address generation </li>
      <li> Currency conversion </li>
    </ul>

      <p> While adding an additional application layer so you can: </p>

    <ul>
      <li> Know who sent you money </li>
      <li> Know why they sent you money </li>
    </ul>

    <p> We use a strict identification system to ensure money always ends up in the hands its intended for, and we connect with your existing wallet so your funds are always safe and never in our hands. <p>

      <p> At the moment, we only support Coinbase, but in the very near-term that will open up to many more web-wallets. In the longer-term we will even support local wallets. One of the beauties of Bitcoin is that you can <em> Be Your Own Bank </em>. We fully support that. </p>

      <p> Like our mission? Join us. </p>

    <h2> The Team </h2>
    {% for user in team %}
    <div class="media">
          <a class="pull-left" href="{{ url_for('main.user', username=user.username) }}">
            <img class="media-object img-circle" src="{{user.picture}}" alt="{{user.name}}" style="width:70px; height:70px; max-width:70px; max-height:70px;">
          </a>
          <div class="media-body" style="padding-top:15px;">
            <h4 class="media-heading"><a href="{{ url_for('main.user', username=user.username) }}">{{ user.name }}</a></h4>
            <p class="media-heading">@{{ user.username }}</p>
          </div>
        </div>
  {% endfor %}



    </div><!--end columns-->
    </div><!--end row-->
</div>
{% endblock %}
