{% extends "base.html" %}

{% block title %}Announcement - {% endblock %}

{% block content %}
<div class="container" style="">
    <h2 class="text-center page-header" style="margin-top:10px;">Major Update!</h2>
    <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

    <p class=""> Hello friends, </p>

<p> Today Bitfluence is proud to announce version 0.2. This is a major update that brings a whole new feature set — receipts and messages. Now, when you send a payment you are able to attach a private message to it for the receiver to read. You can also view your entire payment history, including messages, to easily keep track of where your money is flowing. </p>

<p> See below for screenshots of these new features, and please contact us if you have any issues! </p>

<p> With this feature complete, we are now moving into phase 3 of our beta launch: multiple web-wallet options. Coinbase is currently the only option (thanks to their powerful API), but that list will soon be much longer! </p>

<p> Stay tuned for more updates. </p>

<p> - The Bitfluence Team </p>
<p> <em> Posted on 5/14/2014 </em></p>



    </div><!--end columns-->
    </div><!--end row-->

<h2 class="text-center page-header"></h2>

<div class="row">

                            <header class="section-header col-xs-12 col-sm-4 col-md-4">
                                <h4 class="section-title text-center"><span>Adding a message:</span></h4>
                            </header>

                           <div class="col-xs-12 col-sm-8 col-md-8" style="margin-bottom:20px; border-left: 1px solid; border-color: #eaeaea;">
                                <img src="/static/img/modal.png" class="img-responsive" alt="Responsive image">
                            </div>
                            </div>
<h2 class="text-center page-header"></h2>
                  <div class="row">
                            <header class="section-header col-xs-12 col-sm-4 col-md-4">
                                <h4 class="section-title text-center"><span>Checking your payments:</span></h4>
                            </header>
                            <div class="col-xs-12 col-sm-8 col-md-8" style="margin-bottom:20px; border-left: 1px solid; border-color: #eaeaea;">
                                <img src="/static/img/payments.png" class="img-responsive" alt="Responsive image">
                            </div>
                            </div>
<h2 class="text-center page-header"></h2>
                    <div class="row">
                            <header class="section-header col-xs-12 col-sm-4 col-md-4">
                                <h4 class="section-title text-center"><span>Email notification for a new payment:</span></h4>
                            </header>
                             <div class="col-xs-12 col-sm-8 col-md-8" style="border-left: 1px solid; border-color: #eaeaea;">
                                <img src="/static/img/email.png" class="img-responsive" alt="Responsive image">
                            </div>
                          </div>
                          </div>
{% endblock %}
