<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Bitfluence</title>
    <!-- Bootstrap tag to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="/static/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Javascript that should be loaded before pageload -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {{ moment.include_moment() }}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/js/jasny-bootstrap.min.js"></script>
    <script src="/static/js/custom.js"></script>


    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <!-- for Facebook -->
    <meta property="og:title" content="Bitfluence - Accept Bitcoin" />
    <meta property="og:type" content="profile" />
    <meta property="og:image" content="{{ url_for('static', filename='bitfluence_logo.png')  }}" />
    <meta property="og:url" content="http://bitfluence.com{{request.path}}" />
    <meta property="og:description" content="People and organizations are using bitfluence to send and recieve bitcoin with ease." />


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47460648-1', 'bitfluence.com');
      ga('send', 'pageview');
    </script>


  </head>
  <body style="">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if current_user.is_authenticated() %}
        <a href="{{ url_for('main.user', username=current_user.username) }}"><img src="{{ url_for('static', filename='logo.png')  }}" style="margin-top:5px; margin-left:10px;" /></a>
        {% else %}
        <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='logo.png')  }}" style="margin-top:5px; margin-left:10px;" /></a>
        {% endif %}

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <form class="navbar-form navbar-left" role="search" action="{{ url_for('main.searchusers') }}" method="POST" name="search">
          <div class="form-group">
            {{ g.search_form.hidden_tag() }}
            {{ g.search_form.search(class_='form-control', placeholder='Search for Users', style='width:272px;') }}
          </div>
          <button type="submit" class="btn btn-default">Go</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated() %}
          <li><a href="{{ url_for('main.payments') }}"><i class="fa fa-exchange"></i> Payments
            {% if current_user.unseen_payment_count() > 0 %}
            <span class="badge"> {{ current_user.unseen_payment_count() }}</span>
            {% endif %}
              </a></li>
          <li><a href="{{ url_for('main.contacts') }}"><i class="fa fa-list"></i> Contacts</a></li>
          <li class="divider-vertical"></li>
          <li><a href="{{ url_for('main.user', username=current_user.username) }}">@{{ current_user.username }}</a></li>
          {% else %}
          <a href="{{ url_for('auth.login_twitter') }}" class="btn btn-default navbar-btn" style="margin-left:10px; margin-right:10px;"><i class="fa fa-twitter" style="color:#55ACEE;"></i> Sign in with Twitter</a>
          {% endif %}

          {% if current_user.is_authenticated() %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <!-- show nothing -->
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- end container inside nav bar -->
    </nav> <!-- end navbar -->
    <div id="wrap">
    {% block content %}{% endblock %}
    </div>
    <!-- Latest compiled and minified JavaScript -->


    <nav class="footer navbar navbar-default">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2">
          <h5> HELP </h5>
          <ul class="list-unstyled">
            <li> <a href="{{ url_for('main.faq') }}"> FAQ </a></li>
            <!-- <li> <a href="#"> What is Bitcoin? </a></li> -->
            <li> <a href="{{ url_for('main.contact_us') }}"> Contact </a></li>
          </ul>

        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <h5> COMPANY </h5>
          <ul class="list-unstyled">
            <li> <a href="{{ url_for('main.about') }}"> About </a></li>
            <li> <a href="{{ url_for('main.join') }}"> Join </a></li>
          </ul>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5> FOLLOW US </h5>
          <ul class="list-unstyled">
            <li>  <a href="https://twitter.com/Bitfluence">  <i class="fa fa-twitter"></i> Twitter </a></li>
            <li> © 2014 Bitfluence </li>
            <li> Made with &#9829 in Washington, DC </li>
          </ul>

        </div><!--end columns-->


      </div><!--end row-->
    </nav>




  </body>
</html>
