{% extends "base.html" %}

{% block title %}Contact - {% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 20px;">
    <h2 class="text-center page-header" style="margin-top:10px;">Contact</h2>
    <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-6 col-md-offset-3">
   	<h3>We'd love your feedback</h3>
              <form  method="post" action="feedback" class="form-horizontal" id="contact-form">
                {{form.hidden_tag()}}
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" name="name" id="name" placeholder="Your name" class="form-control input-lg ">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email Address</label>
            <div class="controls">
                <input type="text" name="email" id="email" placeholder="Your email address" class="form-control input-lg">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="message">Message</label>
            <div class="controls">
                <textarea name="message" id="message" rows="4" class="form-control input-lg"></textarea>
            </div>
        </div>
        <br/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-lg">Submit Message</button>
        </div>
    </form><!-- End contact-form -->


    <br/>
    <br/>

    <p class="lead"> Or just email us here: </p>
    <a href="mailto:admin@bitfluence.com" class="btn btn-primary btn-lg">Email us</a>


    </div><!--end columns-->
    </div><!--end row-->
</div>
{% endblock %}
