{% extends "base.html" %}

{% block title %}Edit Profile - {% endblock %}

{% block content %}


<div class="container-fluid">
{% include 'flash.html' %}
<div class="row">
  <div class="col-xs-12 col-xm-6 col-xm-offset-3 col-md-6 col-md-offset-3">
    <h2 class="text-center page-header">
      <img src="{{ current_user.picture }}" class="img-circle" style="width:35px; height:35px; max-width:35px; max-height:35px; margin-bottom:5px;" />
      Profile Info
    </h2>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
    <form method="post" role="form" enctype="multipart/form-data">
      {{form.hidden_tag()}}

      <div class="form-group">
        <label for="inputPhoto">Upload Picture</label>
        <br />
        <div class="fileinput fileinput-new" data-provides="fileinput" id="inputPhoto" style="margin-bottom:0;">
          <span class="btn btn-default btn-file"><span class="fileinput-new">Select File</span><span class="fileinput-exists">Change</span><input type="file" name="photo"></span>
          <span class="fileinput-filename"></span>
          <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
        </div>
      </div>

      <div class="form-group {{"has-error" if form.name.errors}}">
        <label for="inputName">Full Name</label>
          {{ form.name(class_='form-control', id='inputName', placeholder='Input Name') }}
          {% if form.name.errors %}
            {% for error in form.name.errors %}
              <p class="help-block" style="color: #a94442;">{{error}}</p>
            {% endfor %}
          {% endif %}
      </div>

      <div class="form-group {{"has-error" if form.location.errors}}">
        <label for="inputLocation">Location</label>
          {{ form.location(class_='form-control', id='inputLocation', placeholder='Input Location') }}
          {% if form.location.errors %}
            {% for error in form.location.errors %}
              <p class="help-block" style="color: #a94442;">{{error}}</p>
            {% endfor %}
          {% endif %}
      </div>

      <div class="form-group {{"has-error" if form.about_me.errors}}">
        <label for="inputAbout">Short Bio</label>
          {{ form.about_me(class_='form-control', id='inputAbout', rows='4', placeholder='Input Short Bio') }}
          {% if form.about_me.errors %}
            {% for error in form.about_me.errors %}
              <p class="help-block" style="color: #a94442;">{{error}}</p>
            {% endfor %}
          {% endif %}
      </div>

      <div class="form-group">
        <input class="btn btn-primary" type="submit" name="btn" value="Save Profile Info">
      </div>

    </form>
    </div><!--end inner column-->
    </div><!--end inner row-->

    <h2 class="text-center page-header">Wallet Information</h2>
      <div class="row" style="padding-bottom:20px;">
        <div class="col-md-8 col-md-offset-2">
      {% if current_user.coinbase_code %}
        <dl class="dl-horizontal">
          <dt> Account name: </dt>
          <dd> {{name}} </dd>
          <br>
          <dt> Account email: </dt>
          <dd> {{email}} </dd>
        </dl>

        <p class="text-center">
            <a class="btn btn-default btn-primary btn-lg" href="{{ url_for('main.delete_wallet') }}" role="button">Remove Wallet</a>
        </p>
        {% else %}

        <p class="text-center">
            <a class="btn btn-default btn-primary btn-lg" href="{{ url_for('main.login_coinbase') }}" role="button">Add Your Coinbase Wallet</a>
        </p>
        {% endif %}
      </div><!--end inner column-->
      </div><!--end inner row-->

</div>
</div>
</div><!-- end container fluid -->

{% endblock %}
