<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bitfluence</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Fonts from Font Awsome -->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
         <!-- Magnific popup -->
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/static/css/main.css">
         <link rel="stylesheet" href="/static/css/colors/red.css">

        <!-- Feature detection -->
        <script src="/static/js/modernizr-2.6.2.min.js"></script>
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/static/js/plugins/html5shiv.js"></script>
          <script src="/static/js/plugins/respond.min.js"></script>
        <![endif]-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47460648-1', 'bitfluence.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
    <!-- Nav starts -->
     <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bitfluence</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-effect">
            <li><a href="{{ url_for('auth.login_twitter') }}"><span data-hover="Sign in">Sign in</span></a></li>
          </ul>
          <ul class="nav navbar-nav nav-effect" id="main-menu">
            <li><a href="#page-welcome"><span data-hover="Home">Home</span></a></li>
            <li><a href="#page-what"><span data-hover="How it works">What it is</span></a></li>
            <li><a href="#parallax-connect"><span data-hover="What it looks like">What it looks like</span></a></li>
            <li><a href="#page-contact"><span data-hover="Contact">Contact</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><!-- Nav ends -->
    <!-- welcome begins -->
    <section id="page-welcome" class="page-welcome">
      <div>
          <ul class="slider-controls">
              <li><a id="vegas-next" class="next" href="#"></a></li>
              <li><a id="vegas-prev" class="prev" href="#"></a></li>
          </ul>
        </div>
        <div class="container">
            <div class="row">
                  <!-- Text Slider -->
                    <div class="flexslider">
                      <ul class="home-slides">
                        <li>We Are <span>Bitfluence</span></li>
                      </ul>
                    </div>
                     <p class="intro-text">Send bitcoin. Collect bitcoin.</p>
                      <!-- End Text Slides -->
                <a href="{{ url_for('auth.login_twitter') }}" class="btn btn-default"><span data-hover="Learn More">Sign in with Twitter</span></a>
                <a href="#page-what" class="btn btn-default learn-more"><span data-hover="Learn More">Learn more</span></a>

            </div>
        </div>
    </section><!-- welcome ends -->
    <!-- about begins -->
    <section id="page-what" class="page-what">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">What it is</h2>
                    <div class="spacer"></div>
                    <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p> -->
                </header>
          <div class="row">
          <div class="col-md-12 text-center">
            <header class="process-header">
                  <h3>Bitfluence is an upgrade for your Coinbase digital wallet.</h3>
                </header>
              </div>
        </div>
      </div>
    </section><!-- about ends -->
    <section id="page-about" class="page-about">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">How it works</h2>
                    <div class="spacer"></div>
                    <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p> -->
                </header>
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <i class="hi-icon fa fa-twitter"></i>
                </div>
                <header class="process-header">
                  <h3>Identity</h3>
                  <p>Simply connect your Twitter identity - and keep the same username. Your friends will know exactly where to find you.</p>
                </header>
              </div>
             <div class="col-md-3 text-center">
                <div class="design hi-icon-effect-1">
                  <i class="hi-icon fa fa-btc"></i>
                </div>
                 <header class="process-header">
                  <h3>Security</h3>
                  <p>We are a connecting service, not a wallet. Money is always deposited directly into your Coinbase wallet.</p>
                </header>
               </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 develop">
               <i class="hi-icon fa fa-smile-o"></i>
              </div>
               <header class="process-header">
                  <h3>Convenience and Privacy </h3>
                  <p>We handle all the Bitcoin stuff for you - such as converting currencies and generating unique addresses to maintain privacy.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 deploy">
                <i class="hi-icon fa fa-users"></i>
              </div>
               <header class="process-header">
                  <h3>Receipts</h3>
                  <p>Use the built-in message system to easily communicate why you are paying someone. </p>
                </header>
              </div>

          </div>
      </div>
    </section><!-- about ends -->
    <!-- parallax connect feed begins -->
            <section id="parallax-connect" class="parallax" style="height:auto;">
                <div class="parallax-background1 parallax-background"></div>
                <div class="overlay"></div>
                <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="parallax-content">
                            <header class="section-header">
                                <h2 class="section-title"><span>What it looks like</span></h2>
                                  <div class="spacer"></div>
                                    <p class="section-subtitle"></p>
                            </header>

                           <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6" style="margin-bottom:20px;">
                              <a href="/thair1">
                                <img src="/static/img/thair1.png" class="img-responsive" alt="Responsive image">
                              </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6" style="margin-bottom:40px;">
                                <img src="/static/img/payments.png" class="img-responsive" alt="Responsive image">
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
            </section>
    <!-- contact begins -->
    <section id="page-faq" class="page-faq">
      <div class="container">
        <header class="section-header">
            <h2 class="section-title">Want to know more?</h2>
            <div class="spacer"></div>
            <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p> -->
        </header>
        <div class="row">
          <div class="col-md-12 text-center">
            <header class="process-header">
                  <h3>Check out the <a href="{{ url_for('main.faq') }}">FAQ</a></h3>
                </header>
              </div>
        </div>
    </section>
     <section id="page-contact" class="page-contact">
          <div class="container">
              <header class="section-header">
                  <h2 class="section-title"><span>Contact</span></h2>
                    <div class="spacer"></div>
                       <!-- <p class="section-subtitle">We'd love your feedback.</p> -->
              </header>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
          <h3>We'd love your feedback</h3>
              <form  method="post" action="feedback" class="form-horizontal" id="contact-form">
                {{form.hidden_tag()}}
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" name="name" id="name" placeholder="Your name" class="form-control input-lg ">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email Address</label>
            <div class="controls">
                <input type="text" name="email" id="email" placeholder="Your email address" class="form-control input-lg">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="message">Message</label>
            <div class="controls">
                <textarea name="message" id="message" rows="4" class="form-control input-lg"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-default btn-lg btn-block">Submit Message</button>
        </div>
    </form><!-- End contact-form -->
          </div>
        </div><!-- End row -->
      </br>
      <p class="text-center">Made with &#9829 in Washington, DC</p>
        </div>
    </section> <!-- contact ends -->


        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.queryloader2.min.js"></script>
        <script src="/static/js/jquery.parallax-1.1.3.js"></script>
        <script src="/static/js/jquery.flexslider.js"></script>
        <script src="/static/js/jquery.scrollTo.js"></script>
        <script src="/static/js/jquery.nav.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/jquery.vegas.min.js"></script>
        <script src="/static/js/jquery.isotope.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.validate.js"></script>
        <script src="/static/js/jquery.countTo.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=&sensor=false"></script>
        <script src="/static/js/main.js"></script>


    </body>
</html>
