{% extends "base.html" %}

{% block title %}Join - {% endblock %}

{% block content %}
<div class="container" style="margin-bottom:20px;">
    <h2 class="text-center page-header" style="margin-top:10px;">Join</h2>
    <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
   	<h2> Join The Family </h2>
    <p class="lead">  Do you have the passion to make payments easier, and the skills to get it done? <p>

    <p class="lead"> Send us a quick email and say hello. </p>

    <p class="lead"> Do you know Python, Javascript, Bootstrap, MySQL, Git and/or UNIX? </p>

    <p class="lead"> Really, you do? All of them?? Dear God please join us! </p>

    <a href="mailto:admin@bitfluence.com" class="btn btn-default btn-lg">Email us</a>

    </div><!--end columns-->
    </div><!--end row-->
</div>
{% endblock %}
