{% extends "base.html" %}

{% block title %}Your Payments - {% endblock %}

{% block content %}
<div class="container">
  {% include 'flash.html' %}
  <a href="/payments?style=table" class="btn btn-default">Switch to table view </a>
    <h2 class="text-center page-header" style="margin-top:10px;">Your Payments</h2>

   	{% for payment in payments %}
      <div class="row test ">
          {% if payment.sent %}

        <div class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-5">
            <div class="text-right test2 payment_sent">
              <h4> Sent <strong class="text-danger">{{ payment.amount_mbtc() }} mBTC </strong> <span class="small">({{ "%.2f"|format(payment.amount_native_formatted() ) }} {{payment.native_currency}})</span> to
              {% if payment.payee != None %}
                <a href="{{ url_for('main.user', username=payment.payee.username) }}"> @{{ payment.payee.username }} </a>
              {% else %}
                someone
              {% endif %}
              </h4>
              <p class="lead">{{ payment.message_text if payment.message_text != None }}</p>
              <p><em>{{ moment(payment.transaction_time).fromNow(no_suffix = False) }} </em></p>

          {% else %}

        <div class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-1">
          <div class="text-left test3 payment_receive">
            <h4>Received <strong class="text-success">{{ payment.amount_mbtc() }} mBTC </strong> <span class="small">({{ "%.2f"|format(payment.amount_native_formatted() ) }} {{payment.native_currency}})</span> from
              {% if payment.payer != None %}
                <a href="{{ url_for('main.user', username=payment.payer.username) }}"> @{{ payment.payer.username }} </a>
              {% else %}
                anonymous
              {% endif %}
              </h4>
              <p class="lead">{{ payment.message_text if payment.message_text != None }}</p>
              <p><em>{{ moment(payment.transaction_time).fromNow(no_suffix = False) }} </em></p>

          {% endif %}

          </div>
        </div>
      </div><!--end columns-->
	{% endfor %}
</div>
{% endblock %}
