{% extends "base.html" %}

{% block title %}Your Payments - {% endblock %}

{% block content %}
<div class="container">
  {% include 'flash.html' %}
  <a href="/payments?style=messages" class="btn btn-default">Switch to messages view </a>
    <h2 class="text-center page-header" style="margin-top:10px;">Your Payments</h2>

    <table class="table table-hover">
    <tr>
      <th> Date </th>
      <th> From </th>
      <th> To </th>
      <th> Message </th>
      <th> Amount mBTC</th>
      <th> Amount local</th>
    </tr>

      {% for payment in payments %}

      <tr>
        <td> {{ moment(payment.transaction_time).fromNow(no_suffix = False) }} </td>
        <td>
          {% if payment.sent == False %}
          {% if payment.payer != None %}
                <a href="{{ url_for('main.user', username=payment.payer.username) }}"> @{{ payment.payer.username }} </a>
              {% else %}
                anonymous
              {% endif %}

              {% endif %}
        </td>
        <td>
          {% if payment.sent %}
          {% if payment.payer != None %}
                <a href="{{ url_for('main.user', username=payment.payee.username) }}"> @{{ payment.payee.username }} </a>
              {% else %}
                anonymous
              {% endif %}
              {% endif %}



        <td>
          {{ payment.message_text if payment.message_text != None }}
        </td>
         <td>
          {% if payment.sent %}
          <span class='text-danger'> -{{ payment.amount_mbtc() }}</span>
          {% else %}
          <span class='text-success'> +{{ payment.amount_mbtc() }}</span>
          {% endif %}
        </td>
        <td>
          {% if payment.sent %}
          <span class='text-danger'> -{{ "%.2f"|format(payment.amount_native_formatted() ) }} {{payment.native_currency}}</span>
          {% else %}
          <span class='text-success'> +{{ "%.2f"|format(payment.amount_native_formatted() ) }} {{payment.native_currency}}</span>
          {% endif %}


        </td>
        <tr>



	{% endfor %}
   </table>
</div>
{% endblock %}
