<div class="row">
	<div class="col-md-12">
		<img src="{{user.picture}}" class="img-circle" style="max-width:70px;">
	
		<p class="lead"><a href="{{ url_for('main.user', username=user.username) }}">{{ user.name }}</a></p>
        <p>{{ user.username }}</p>
    </div>
</div>
