{% extends "base.html" %}

{% block content %}
<div class="container">
  {% include 'flash.html' %}
    <h2 class="text-center page-header" style="margin-top:10px;">Search results for "{{query}}"</h2>
    <div class="row">
    <div class="col-xs-12 col-xm-6 col-xm-offset-3 col-md-4 col-md-offset-4">
    {% for user in results %}
        <div class="media">
          <a class="pull-left" href="{{ url_for('main.user', username=user.username) }}">
            <img class="media-object img-circle" src="{{user.picture}}" alt="{{user.name}}" style="width:70px; height:70px; max-width:70px; max-height:70px;">
          </a>
          <div class="media-body" style="padding-top:15px;">
            <h4 class="media-heading"><a href="{{ url_for('main.user', username=user.username) }}">{{ user.name }}</a></h4>
            <p class="media-heading">@{{ user.username }}</p>
          </div>
        </div>
    {% endfor %}
    </div><!--end columns-->
    </div><!--end row-->
</div>
{% endblock %}
