{% extends "base.html" %}

{% block title %}{{user.name}} - {% endblock %}

{% block content %}
<div class="container-fluid" style="margin-bottom:40px;">
    <div class="row"><div class="col-xs-12 col-xm-6 col-xm-offset-3 col-md-6 col-md-offset-3">
        {% include 'flash.html' %}



    <img src="{{ user.picture }}" class="img-circle center-block" style="width:125px; height:125px; max-width:125px; max-height:125px;" />


    {% if user.name %}<h1 class="text-center" style="margin-bottom:5px;">{{user.name}}</h1>{% endif %}
    <h2 class="text-center" style="margin-top:0px;">@{{ user.username }}{% if user.verified %} <i class="fa fa-check-circle" style="color: #428bca;"></i>{% endif %}</h2>

    <h4 class="text-center" style="">
        <a href="https://twitter.com/{{user.username}}" class="btn btn-default btn-circle" title="View on Twitter" role="button"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="http://twitter.com/share?url=http%3A%2F%2Fbitfluence.com%2F{{ user.username }}&text=Send%20bitcoin%20to%20%40{{ user.username }}%20via%20%40bitfluence" target="_blank" onclick="return popitup('http://twitter.com/share?url=http%3A%2F%2Fbitfluence.com%2F{{ user.username }}&text=Send%20bitcoin%20to%20%40{{ user.username }}%20via%20%40bitfluence')" class="btn btn-default btn-circle" title="Share" role="button"><i class="fa fa-share fa-lg"></i></a>
        {% if current_user.username != user.username and current_user.is_authenticated() %}
            {% if not current_user.is_following(user) %}
                <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-default btn-circle" title="Add to Contacts" role="button"><i class="fa fa-plus fa-lg"></i></a>
            {% else %}
                <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-default btn-circle" title="Remove from Contacts" role="button"><i class="fa fa-minus fa-lg"></i></a>
            {% endif %}
        {% endif %}
    </h4>

    {% if user.about_me %}<p class="lead text-center" style="margin-bottom:5px;">{{ user.about_me }}</p>{% endif %}
    <p class="lead text-center">
    {% if user.location %}From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>.{% endif %}
    Joined {{ moment(user.member_since).fromNow(no_suffix = False) }}.
    </p>
    </div></div>

    {% if iframe_code %}

    <iframe src="https://coinbase.com/inline_payments/{{iframe_code}}" style="width: 500px; height: 160px; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.25); overflow: hidden;" scrolling="no" allowtransparency="true" frameborder="0" class="center-block hidden-xs"></iframe>

    <div class="hidden-sm hidden-md hidden-lg text-center" style="margin-top:10px;">

        <a href="#" class="payment-link btn btn-primary btn-lg">Send Bitcoin to @{{user.username}}</a>
        <div class="coinbase-button" data-code="{{iframe_code}}" data-button-style="none"></div><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

    </div>

    {% else %}
        {% if current_user.username == user.username and current_user.is_authenticated() %}
            <p class="text-center">
                <a class="btn btn-default btn-primary btn-lg" href="{{ url_for('main.login_coinbase') }}" role="button">Add Your Coinbase Wallet</a>
            </p>
        {% else %}
            <div class="text-center" style="margin-top:10px;">
                <a href="#" class="btn btn-warning btn-lrg" disabled="disabled"><i class="fa fa-exclamation-triangle"></i> Wallet Not Available</a>
            </div>
        {% endif %}
    {% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Include message with payment?</h4>
      </div>
      <div class="modal-body">

        <form data-async action="/message?iframe_code={{iframe_code}}" method="post" class="form-horizontal" role="form">
      {{form.hidden_tag()}}
      <div id="message-form" class="form-group">
        <label for="inputMessage" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
          {{ form.message(class_='form-control', id='inputMessage', rows='4', placeholder=message) }}
          <small class="pull-right"> <span id="charsleft"> 100 </span></small>
          <div id="message-error">
          {% if form.message.errors %}
            {% for error in form.message.errors %}
              <p class="help-block" style="color: #a94442;">{{error}}</p>
            {% endfor %}
          {% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
      </div>

    </div>
  </div>
</div>

</div> <!-- end container -->
<style>
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
</style>
<script type="text/javascript">



$("#inputMessage").on('keyup', function(event) {
    var currentString = $("#inputMessage").val()
    if (currentString.length <= 100 )  {
      $("#charsleft").html(100 - currentString.length);
      if( $('#message-form').hasClass('has-error') ){
        $('#message-form').removeClass('has-error');
        $("#message-error").empty();
      }
    } else {
      $("#charsleft").html(100 - currentString.length);
      if( !$('#message-form').hasClass('has-error') ){
        $('#message-form').addClass('has-error');
        $("#message-error").append('<p class="help-block" style="color: #a94442;">Message cannot be longer than 100 characters</p>');
      }
    }
});

function openModal() {
  $('#myModal').modal();
}

function popitup(url) {
      newwindow=window.open(url,'name','height=400,width=500,top=200,left=500');
      if (window.focus) {newwindow.focus()}
      return false;
    }

jQuery(function($) {
    $('form[data-async]').on('submit', function(event) {
        var $form = $(this);
        var $target = $($form.attr('data-target'));

        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: $form.serialize(),

            error: function(data, status, error) {
              $("#message-error").empty();
               $("#message-error").append('<p class="help-block" style="color: #a94442;">Message cannot be longer than 100 characters</p>');
               $('#message-form').addClass('has-error');
            },

            success: function(data, status) {
                $('#myModal').modal('hide');
                $("#messages").empty();
                if(data["privacy"] === "PRIV"){
                  $("#messages").append('<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button> Your message was saved sucessfully! <a href="/payments" class="alert-link">See your payments here.</a> </div>');
                }
                else if(data["privacy"] === "ANON"){
                  $("#messages").append('<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button> Your anonymous payment was saved sucessfully! <a href="/payments" class="alert-link">See your payments here.</a> </div>');
                }
                else {
                 // can data["privacy"] ever be something else?
                }
            }
        });
        event.preventDefault();
    });
});

  $(document).ready(function() {
    var alreadyOpened = false;
    $('#myPopover').popover();
    $('.payment-link').click(function(){
      $(document).trigger('coinbase_show_modal', '{{iframe_code}}');
      return false;
    });


    // This one is ONLY called by the payment on mobile -- WHHY??
    $(document).on('coinbase_payment_complete', function(event, code){
      console.log(code);
      console.log("{{iframe_code}}");
      console.log(code == "{{iframe_code}}");
      if (code == "{{iframe_code}}") {
        openMessageModal();
      }
    });
    // This one is ONLY called by the payment on large screens -- WHHY??
    window.addEventListener('message', receiveMessage, false);

    function receiveMessage(event) {
      if (event.origin == 'https://coinbase.com' && !alreadyOpened) {
        alreadyOpened = true; // prevents modal from continously opening -- not needed on mobile for some reason
        var event_type = event.data.split('|')[0];     // "coinbase_payment_complete"
        var event_id   = event.data.split('|')[1];     // iframe_code

        if (event_type == 'coinbase_payment_complete' && event_id == "{{iframe_code}}") {
          openMessageModal();
        }
        else {
          // Do something else, or ignore
        }
      }
    }


    function openMessageModal(){
      $('#coinbase_modal_iframe_{{iframe_code}}').remove(); // not strictly needed on desktop, but kept for consistency
      $('#myModal').modal();
      $("#messages").append('<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button> Your payment was sent sucessfully! <a href="#" onclick="openModal()" class="open-modal alert-link">Attach a message</a> or <a href="/payments" class="alert-link">see your payments here.</a> </div>');
    }
  });
</script>

{% endblock %}


